*{margin:0px;
padding:0px;
box-sizing: border-box;
font-family: sans-serif}


/*Header*/

header{height:80px ;
background-color: rgb(255, 123, 22);
display: flex;
justify-content: space-around;
align-items: center;
box-shadow: 0 10px 10px 0 rgba(0,0,0,.2);
margin-bottom: 100px;
}

header a{text-decoration: none;
color:white;
font-weight: 500;}

header img{height:35px;
width:auto;}

header span{color:white;}

/*Main - Shopping Section*/ 
.item-container{max-width:1200px;
margin: 0 auto;
border: dashed;}

.item-row{display: flex;
gap: 20px;
flex-wrap:wrap;}

.item-column{flex-basis: calc(100% /3 - 40px /3);
border: 2px dashed black;
min-height:100px;}

main img{display:block;
max-width:100%}












/*Footer
footer{height: 80px;
background-color: black;}
*/ 